/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Noto Serif", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navsec{    
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding:0 20px;
    background-color: orange;
    color: white;
    font-size: large;
    height: 80px;

}

.userAuth{
    cursor: pointer;
}

.logout{
    cursor: pointer;
}

.sidebarsec{    
    width: 100%;
    max-width: 15%;
    height: 95vh;    
       
    background-color: rgb(85, 17, 202);
    color: white;

}

.sidebarsec ul li{
    list-style: none;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;

}

.collectionsec{
    display: flex;

}

/* login section*/

.loginsec{    
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.authform{
    border: 1px solid gray;
    width: 100%;
    max-width: 50%;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: -230px;
    border-radius: 10px;
    position: relative;    
    
    
}

.authform label{
    width: 100%;
    max-width: 55%;
    font-weight: 400;  

}

.authform input{
    width: 100%;
    max-width: 55%;    
    height: 2rem;
    font-size: medium;    

}

/* register section*/

.registersec{     
 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

/* firm section*/

.firmsec{    
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;

}

.tableform{
    border: 1px solid gray;
    width: 100%;
    max-width: 50%;   
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 43px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 43px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 43px 0px rgba(0,0,0,0.75);
    

}

.tableform label{
    width: 100%;
    max-width: 55%;
    font-weight: 500;  

}

.tableform input{
    width: 100%;
    max-width: 55%;        
    height: 1.5rem;
    margin-bottom: 10px;     

}

.checkinp{   
    width: 100%;
    max-width: 55%;
    display: flex;
}

.checkinp label{
    width: 20%;
    padding-right: 10px;
}

.inputscontainer{
    width: 100%;    
    display: flex;  
   
}

.checkboxcontainer{    
    width: 100%;
    max-width: 50%;
    display: flex;    
    justify-content: center;
    align-items: center;

}

.checkboxcontainer label{
    width: 100%;
    font-size: small;
    

}

.checkboxcontainer input{
    margin-left:-150px ;
}

.regboxcontainer label{
    font-size: small;

}
/* product section*/

.productsec{    
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

/* allproducts section*/
.products{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-table{
    width:80vw;
    border-collapse: collapse;
    margin: 10px;
}

.product-table th,
.product-table td{
    border: 1px solid gray;
    padding: 8px;
}

.product-table th{
    text-align: left;
    background-color: rgb(8, 214, 22);
    color: white;
}

.deletebtn{
    color: hsl(0, 100%, 50%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    
}

/*not found*/

.errorsec{    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.errorsec h1{
    color: red;
    font-size: 4rem;
    
}
h3{
    color: red;
}

/* btn submit */
.btnsubmit button{
    background-color: blue;
    width: 6rem;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 5px;
}

.welcomeSec{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.landingimg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}

.welcomeSec h2{
    text-align: center;
    font-size: 3rem;
    position: relative;
    top:-80px;
    color: rgb(255, 0, 162);
    
}

.showPassword{
    width: fit-content;
    position: absolute;
    bottom: 90px;
    right: 145px;
    cursor: pointer;
}

.loadersec{
    z-index:10000;
}